html{
  scroll-behavior: smooth;;
}


ul.sup {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.5;
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 5vw;
}

.sup li {
  float: right;
}

.sup li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sup li a:hover:not(.active) {
  background-color: transparent;
}